<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Fytotherapie Startpagina</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>

<div class="top-bar">
    <h1>🌿 Welkom bij Adelita Fytotherapie</h1>
    {% if session.gebruiker %}
        <div class="gebruiker-info">
            <span>Ingelogd als: <strong>{{ session.gebruiker }}</strong></span>
            <a class="logout" href="{{ url_for('index_bp.logout') }}">Uitloggen</a>
        </div>
    {% endif %}
</div>


    <div class="menu">
        <a href="/planten">🌱 Bekijk alle planten</a>
        <a href="/klachten">💊 Klachten & behandelingen</a>
        <a href="/klanten">👥 Klantenbeheer</a>
        <a href="/klanten/behandelingen">📋 Overzicht behandelingen</a>
        <a href="/supplementen">🧪 Supplementen</a>


    </div>

</body>
</html>
