<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Alle Planten</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/planten.css') }}">

</head>
<body>

    <h1>🌿 Overzicht van alle Planten</h1>

    <div class="container">
    <a class="terug" href="/">← Terug naar startpagina</a>
        <ul>
            {% for plant in planten %}
                <li>
                    <a href="{{ url_for('plant_bp.plant_info', plant_naam=plant[0]) }}">{{ plant[0] }}</a>

                </li>
            {% endfor %}
        </ul>

        <a class="terug" href="/">← Terug naar startpagina</a>
    </div>

</body>
</html>
